.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addPhoneBtn {
  margin: 20px auto;
  text-align: center;
  background-color: transparent;
  color: black;
  font-weight: bold;
  padding: 6px 10px;
}
.addPhoneBtn:hover {
  scale: 1.1;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: normal;
}

.closeBtn:hover {
  color: grey;
}

/* .addPhoneModal {
  display: flex;
  flex-direction: column;
} */

.addPhoneBtn {
  cursor: pointer;
}
