.phoneList {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterSelect {
  display: block;
  margin: 20px auto;
  height: 20px;
}
.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 10px;
  margin: 0 auto;
}

.searchField {
  width: 150px;
}

.proffitWrapper {
  width: 330px;
  margin: 0 auto;
  margin-bottom: 20px;
}
