.phoneItem {
  padding: 10px;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 300px;
  border: 1px solid black;
}

@media screen and (min-width: 1171px) {
  .phoneItem {
    flex-direction: row;
    width: 100%;
  }
}

.positiveProffit {
  font-weight: bold;
  color: green;
}

.negativeProffit {
  font-weight: bold;
  color: red;
}

.modelTitle {
  position: relative;
}
.closeChangeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: normal;
}
.closeChangeModal:hover {
  color: grey;
}

.btnsWrapper {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1171px) {
  .btnsWrapper {
    display: flex;
    flex-direction: column;
  }
}

.changeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  cursor: pointer;
  background-color: rgb(255, 136, 0);
}
