.phoneItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.positiveProffit {
  font-weight: bold;
  color: green;
}

.negativeProffit {
  font-weight: bold;
  color: red;
}

.modelTitle {
  position: relative;
}
