.phoneItem {
  padding: 20px;
  flex-direction: row;
  width: 100%;
  /* height: 400px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

@media screen and (min-width: 1171px) {
  .phoneItem {
    flex-direction: row;
    width: 100%;
  }
}

.positiveProffit {
  font-weight: bold;
  color: green;
}

.negativeProffit {
  font-weight: bold;
  color: red;
}

.modelTitle {
  position: relative;
}
.closeChangeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: normal;
}
.closeChangeModal:hover {
  color: grey;
}

.btnsWrapper {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1171px) {
  .btnsWrapper {
    display: flex;
    flex-direction: column;
  }
}

.changeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.changeButton:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.numberOfPhone {
  position: absolute;
  top: 0;
  left: 15px;
  color: rgb(13, 44, 221);
  font-weight: bold;
}
